@import 'sprite.scss';
@import 'animate.scss';
@import 'box/box.scss';
@import 'box/notif_alert.scss';
@import 'rp/rp_stats.scss';
@import 'rp/rp_buyitems.scss';
@import 'rp/rp_inventory_choice.scss';
@import 'rp/rp_inventory.scss';
@import 'rp/rp_botchoose.scss';
@import 'gui/room_options.scss';
@import 'gui/fullscreen.scss';
//@import 'gui/menu_left.scss';
@import 'gui/notif_top.scss';
@import 'tool/wibbotool.scss';
@import 'tool/wibbotool_windows.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Ubuntu, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    background-color: #0e151c;
    font-size: 12px;
    margin: 0;
    padding: 0;
    user-select: none;
}

#infobulle {
    display: none;
    position: absolute;
    border-radius: 7px;
    z-index: 1;
    padding: 1px 5px;
    color: #fff;
    line-height: 22px;
    background-color: #1f1f1f;
}

#flash-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    .frank_bg
    {
        background-image: url("flash_error_bg.png");
        display: block;
        height: 368px;
        padding: 80px 17px 35px 242px;
        position: relative;
        width: 639px;
    }
    #content {
        margin: 0 auto;
        margin: 200px auto 0 auto;
    }
    a {
        color: #fff;
        cursor: pointer;
        outline: 0;
        text-decoration: none;
    }
    p {
        color: #7ecaee;
        font-size: 1.4em;
    }
    .title {
        text-align: center;
        color: #fff;
        font-size: 2.5em;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(0, 0, 0, .3);
    }
    .center_text {
        text-align: center;
    }
    .getadobe {
        display: inline-block;
        margin: 40px 12px 0;
        @include sprite($-get-flash-player);
    }
}