// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrowleft-name: 'arrowleft';
$arrowleft-x: 151px;
$arrowleft-y: 80px;
$arrowleft-offset-x: -151px;
$arrowleft-offset-y: -80px;
$arrowleft-width: 6px;
$arrowleft-height: 8px;
$arrowleft-total-width: 158px;
$arrowleft-total-height: 117px;
$arrowleft-image: 'sprite_1551396659085.png';
$arrowleft: (151px, 80px, -151px, -80px, 6px, 8px, 158px, 117px, 'sprite_1551396659085.png', 'arrowleft', );
$arrowright-name: 'arrowright';
$arrowright-x: 151px;
$arrowright-y: 72px;
$arrowright-offset-x: -151px;
$arrowright-offset-y: -72px;
$arrowright-width: 6px;
$arrowright-height: 8px;
$arrowright-total-width: 158px;
$arrowright-total-height: 117px;
$arrowright-image: 'sprite_1551396659085.png';
$arrowright: (151px, 72px, -151px, -72px, 6px, 8px, 158px, 117px, 'sprite_1551396659085.png', 'arrowright', );
$close-active-name: 'close_active';
$close-active-x: 138px;
$close-active-y: 39px;
$close-active-offset-x: -138px;
$close-active-offset-y: -39px;
$close-active-width: 19px;
$close-active-height: 20px;
$close-active-total-width: 158px;
$close-active-total-height: 117px;
$close-active-image: 'sprite_1551396659085.png';
$close-active: (138px, 39px, -138px, -39px, 19px, 20px, 158px, 117px, 'sprite_1551396659085.png', 'close_active', );
$close-hover-name: 'close_hover';
$close-hover-x: 19px;
$close-hover-y: 97px;
$close-hover-offset-x: -19px;
$close-hover-offset-y: -97px;
$close-hover-width: 19px;
$close-hover-height: 20px;
$close-hover-total-width: 158px;
$close-hover-total-height: 117px;
$close-hover-image: 'sprite_1551396659085.png';
$close-hover: (19px, 97px, -19px, -97px, 19px, 20px, 158px, 117px, 'sprite_1551396659085.png', 'close_hover', );
$close-name: 'close';
$close-x: 0px;
$close-y: 97px;
$close-offset-x: 0px;
$close-offset-y: -97px;
$close-width: 19px;
$close-height: 20px;
$close-total-width: 158px;
$close-total-height: 117px;
$close-image: 'sprite_1551396659085.png';
$close: (0px, 97px, 0px, -97px, 19px, 20px, 158px, 117px, 'sprite_1551396659085.png', 'close', );
$coeur-name: 'coeur';
$coeur-x: 63px;
$coeur-y: 39px;
$coeur-offset-x: -63px;
$coeur-offset-y: -39px;
$coeur-width: 25px;
$coeur-height: 25px;
$coeur-total-width: 158px;
$coeur-total-height: 117px;
$coeur-image: 'sprite_1551396659085.png';
$coeur: (63px, 39px, -63px, -39px, 25px, 25px, 158px, 117px, 'sprite_1551396659085.png', 'coeur', );
$dollar-name: 'dollar';
$dollar-x: 88px;
$dollar-y: 39px;
$dollar-offset-x: -88px;
$dollar-offset-y: -39px;
$dollar-width: 25px;
$dollar-height: 25px;
$dollar-total-width: 158px;
$dollar-total-height: 117px;
$dollar-image: 'sprite_1551396659085.png';
$dollar: (88px, 39px, -88px, -39px, 25px, 25px, 158px, 117px, 'sprite_1551396659085.png', 'dollar', );
$edit-active-name: 'edit_active';
$edit-active-x: 132px;
$edit-active-y: 72px;
$edit-active-offset-x: -132px;
$edit-active-offset-y: -72px;
$edit-active-width: 19px;
$edit-active-height: 20px;
$edit-active-total-width: 158px;
$edit-active-total-height: 117px;
$edit-active-image: 'sprite_1551396659085.png';
$edit-active: (132px, 72px, -132px, -72px, 19px, 20px, 158px, 117px, 'sprite_1551396659085.png', 'edit_active', );
$edit-hover-name: 'edit_hover';
$edit-hover-x: 113px;
$edit-hover-y: 72px;
$edit-hover-offset-x: -113px;
$edit-hover-offset-y: -72px;
$edit-hover-width: 19px;
$edit-hover-height: 20px;
$edit-hover-total-width: 158px;
$edit-hover-total-height: 117px;
$edit-hover-image: 'sprite_1551396659085.png';
$edit-hover: (113px, 72px, -113px, -72px, 19px, 20px, 158px, 117px, 'sprite_1551396659085.png', 'edit_hover', );
$edit-name: 'edit';
$edit-x: 38px;
$edit-y: 97px;
$edit-offset-x: -38px;
$edit-offset-y: -97px;
$edit-width: 19px;
$edit-height: 20px;
$edit-total-width: 158px;
$edit-total-height: 117px;
$edit-image: 'sprite_1551396659085.png';
$edit: (38px, 97px, -38px, -97px, 19px, 20px, 158px, 117px, 'sprite_1551396659085.png', 'edit', );
$-get-flash-player-name: 'GetFlashPlayer';
$-get-flash-player-x: 0px;
$-get-flash-player-y: 0px;
$-get-flash-player-offset-x: 0px;
$-get-flash-player-offset-y: 0px;
$-get-flash-player-width: 158px;
$-get-flash-player-height: 39px;
$-get-flash-player-total-width: 158px;
$-get-flash-player-total-height: 117px;
$-get-flash-player-image: 'sprite_1551396659085.png';
$-get-flash-player: (0px, 0px, 0px, 0px, 158px, 39px, 158px, 117px, 'sprite_1551396659085.png', 'GetFlashPlayer', );
$heure-name: 'heure';
$heure-x: 25px;
$heure-y: 72px;
$heure-offset-x: -25px;
$heure-offset-y: -72px;
$heure-width: 25px;
$heure-height: 25px;
$heure-total-width: 158px;
$heure-total-height: 117px;
$heure-image: 'sprite_1551396659085.png';
$heure: (25px, 72px, -25px, -72px, 25px, 25px, 158px, 117px, 'sprite_1551396659085.png', 'heure', );
$level-name: 'level';
$level-x: 0px;
$level-y: 72px;
$level-offset-x: 0px;
$level-offset-y: -72px;
$level-width: 25px;
$level-height: 25px;
$level-total-width: 158px;
$level-total-height: 117px;
$level-image: 'sprite_1551396659085.png';
$level: (0px, 72px, 0px, -72px, 25px, 25px, 158px, 117px, 'sprite_1551396659085.png', 'level', );
$munition-name: 'munition';
$munition-x: 113px;
$munition-y: 39px;
$munition-offset-x: -113px;
$munition-offset-y: -39px;
$munition-width: 25px;
$munition-height: 25px;
$munition-total-width: 158px;
$munition-total-height: 117px;
$munition-image: 'sprite_1551396659085.png';
$munition: (113px, 39px, -113px, -39px, 25px, 25px, 158px, 117px, 'sprite_1551396659085.png', 'munition', );
$notif-top-name: 'notif_top';
$notif-top-x: 0px;
$notif-top-y: 39px;
$notif-top-offset-x: 0px;
$notif-top-offset-y: -39px;
$notif-top-width: 38px;
$notif-top-height: 33px;
$notif-top-total-width: 158px;
$notif-top-total-height: 117px;
$notif-top-image: 'sprite_1551396659085.png';
$notif-top: (0px, 39px, 0px, -39px, 38px, 33px, 158px, 117px, 'sprite_1551396659085.png', 'notif_top', );
$panel-settings-active-name: 'panel_settings_active';
$panel-settings-active-x: 71px;
$panel-settings-active-y: 72px;
$panel-settings-active-offset-x: -71px;
$panel-settings-active-offset-y: -72px;
$panel-settings-active-width: 21px;
$panel-settings-active-height: 22px;
$panel-settings-active-total-width: 158px;
$panel-settings-active-total-height: 117px;
$panel-settings-active-image: 'sprite_1551396659085.png';
$panel-settings-active: (71px, 72px, -71px, -72px, 21px, 22px, 158px, 117px, 'sprite_1551396659085.png', 'panel_settings_active', );
$panel-settings-hover-name: 'panel_settings_hover';
$panel-settings-hover-x: 50px;
$panel-settings-hover-y: 72px;
$panel-settings-hover-offset-x: -50px;
$panel-settings-hover-offset-y: -72px;
$panel-settings-hover-width: 21px;
$panel-settings-hover-height: 22px;
$panel-settings-hover-total-width: 158px;
$panel-settings-hover-total-height: 117px;
$panel-settings-hover-image: 'sprite_1551396659085.png';
$panel-settings-hover: (50px, 72px, -50px, -72px, 21px, 22px, 158px, 117px, 'sprite_1551396659085.png', 'panel_settings_hover', );
$panel-settings-name: 'panel_settings';
$panel-settings-x: 92px;
$panel-settings-y: 72px;
$panel-settings-offset-x: -92px;
$panel-settings-offset-y: -72px;
$panel-settings-width: 21px;
$panel-settings-height: 21px;
$panel-settings-total-width: 158px;
$panel-settings-total-height: 117px;
$panel-settings-image: 'sprite_1551396659085.png';
$panel-settings: (92px, 72px, -92px, -72px, 21px, 21px, 158px, 117px, 'sprite_1551396659085.png', 'panel_settings', );
$sac-inventory-name: 'sac_inventory';
$sac-inventory-x: 38px;
$sac-inventory-y: 39px;
$sac-inventory-offset-x: -38px;
$sac-inventory-offset-y: -39px;
$sac-inventory-width: 25px;
$sac-inventory-height: 30px;
$sac-inventory-total-width: 158px;
$sac-inventory-total-height: 117px;
$sac-inventory-image: 'sprite_1551396659085.png';
$sac-inventory: (38px, 39px, -38px, -39px, 25px, 30px, 158px, 117px, 'sprite_1551396659085.png', 'sac_inventory', );
$troc-confirme-name: 'troc_confirme';
$troc-confirme-x: 57px;
$troc-confirme-y: 97px;
$troc-confirme-offset-x: -57px;
$troc-confirme-offset-y: -97px;
$troc-confirme-width: 17px;
$troc-confirme-height: 18px;
$troc-confirme-total-width: 158px;
$troc-confirme-total-height: 117px;
$troc-confirme-image: 'sprite_1551396659085.png';
$troc-confirme: (57px, 97px, -57px, -97px, 17px, 18px, 158px, 117px, 'sprite_1551396659085.png', 'troc_confirme', );
$spritesheet-width: 158px;
$spritesheet-height: 117px;
$spritesheet-image: 'sprite_1551396659085.png';
$spritesheet-sprites: ($arrowleft, $arrowright, $close-active, $close-hover, $close, $coeur, $dollar, $edit-active, $edit-hover, $edit, $-get-flash-player, $heure, $level, $munition, $notif-top, $panel-settings-active, $panel-settings-hover, $panel-settings, $sac-inventory, $troc-confirme, );
$spritesheet: (158px, 117px, 'sprite_1551396659085.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
