<div class="troc" v-show="data.rp_inventory_troc_open">
    <div class="box_troc left">
        <div v-bind:class="data.rp_troc_settings.accepte ? 'troc_info_user confirme' : 'troc_info_user'"><b>Tu</b>
            proposes</div>
        <ul class="troc_items">
            <li class="item_container" v-for="(item, index) in GetMyItems" v-infobulle="item.desc"
                @click="ClickOnItem(item.id)">
                <img v-bind:src="'items/'+ item.name +'.png'" class="item">
                <div class="item_count">{{item.count}}</div>
            </li>
            <li class="item_container" v-for="n in MyEmptyBoxCount">
            </li>
        </ul>
    </div>
    <div class="box_troc right">
        <div v-bind:class="data.rp_troc_target_settings.accepte ? 'troc_info_user confirme' : 'troc_info_user'">
            <b>{{data.rp_troc_target_settings.username}}</b> propose</div>
        <ul class="troc_items">
            <li class="item_container fixed" v-for="(item, index) in GetSellerItems" v-infobulle="item.desc">
                <img v-bind:src="'items/'+ item.name +'.png'" class="item">
                <div class="item_count">{{item.count}}</div>
            </li>
            <li class="item_container fixed" v-for="n in SellerEmptyBoxCount">
            </li>
        </ul>
    </div>
    <div class="bottom">
        <div class="btn_left">
            <button type="button" v-bind:class="(BtnTrocDisabled) ? 'box_button disabled' : 'box_button'"
                @click="BtnTroc">{{BtnTrocText}}</button>
        </div>
        <div class="btn_right">
            <button type="button" class="box_button" @click="Close()">Annuler</button>
        </div>
    </div>
</div>
</transition>