<transition name="opacity">
    <div class="notif_alert" v-if="data.connected && data.notif_alert_open" movebox>
        <div class="head" v-draggable>
            <div class="croix" v-on:click="Close">×</div>
            {{data.notif_alert_title}}
        </div>
        <div class="box_body" style="padding: 5px;">

            <div class="col_right">
                <img v-if="data.notif_alert_image != ''"
                    v-bind:src="'https://swf.wibbo.me/dcr/c_images/notifications/' + data.notif_alert_image + '.png'" />
            </div>
            <div class="col_left">
                <div class="message" v-html="data.notif_alert_message">
                </div>
                <button type="button" class="box_button" v-on:click="JoinRoom">{{data.notif_alert_textbutton}}</button>
            </div>
        </div>
    </div>
</transition>